<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid px-lg-5 py-2">
    <!-- Logo -->
    <a class="navbar-brand py-2" href="#">
      <img src="/logo.png" alt="Maashreeaum Logo" style="height: 55px; width: auto;">
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" #navbarCollapse>
      <ul class="navbar-nav mx-auto align-items-center gap-lg-4">
        <li class="nav-item">
          <a class="nav-link px-0 text-center" routerLink="/maashree" routerLinkActive="active"
            (click)="closeMenu()">SHREE GURU MAASHREE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-0 text-center" routerLink="/shreeja-ashram" routerLinkActive="active"
            (click)="closeMenu()">SHREEJAASHRAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 text-center" routerLink="/ikshanaa" routerLinkActive="active"
            (click)="closeMenu()">IKSHANAA</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle px-0 text-center" href="#" id="projectsDropdown" role="button"
            data-bs-toggle="dropdown">
            PROJECTS
          </a>
          <ul class="dropdown-menu border-0 shadow-sm">
            <li><a class="dropdown-item" routerLink="/donate" (click)="closeMenu()">Ashram Initiatives</a></li>
            <li><a class="dropdown-item" routerLink="/karmayog/stand-for-animals" routerLinkActive="active"
                (click)="closeMenu()">Stand For
                Animals</a></li>
            <li><a class="dropdown-item" routerLink="/karmayog/bhavasana" routerLinkActive="active"
                (click)="closeMenu()">Bhaavasan</a></li>

            <li><a class="dropdown-item" routerLink="/karmayog/shree-guru-vidyalaya" routerLinkActive="active"
                (click)="closeMenu()">Shree
                Guru Vidyalaya</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 text-center" routerLink="/newsletters" routerLinkActive="active"
            (click)="closeMenu()">NEWSLETTERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 text-center" href="https://publicationsmaashreeaum.org/home" target="_blank"
            (click)="closeMenu()">PUBLICATIONS</a>
        </li>
      </ul>
      <div class="d-flex ms-lg-auto">
        <a routerLink="/donate" class="btn btn-dark px-4 py-2" (click)="closeMenu()">DONATE</a>
      </div>
    </div>
  </div>
</nav>