<section class="maashree-says-section">
    <div class="container">
        <div class="divider-decoration mb-5">
            <img src="/divider.svg" alt="Divider" class="section-divider">
        </div>

        <div class="text-center mb-5">
            <p class="section-label">SHREE GURU VAANI</p>
            <h2 class="section-title">MAASHREE SAYS</h2>
            <p class="section-text">
                Her Sayings point us towards Truth Realization, revitalizing the age-old teachings of<br>
                Sanatan Dharma in the context of modern life and society.
            </p>
        </div>

        <div class="video-container mb-5">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/DlweucCNyyA?rel=0&controls=1&autoplay=0&mute=0&start=0"
                    title="Methods to Uplift Oneself and Live in the Wisdom of GURU | Devotion and Surrender"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="text-center">
            <a href="https://www.youtube.com/@maashreesuttarann" target="_blank"
                class="btn btn-warning youtube-btn">YOUTUBE
                CHANNEL</a>
        </div>
    </div>
</section>