<section class="newsletter-section">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h3 class="newsletter-title">Latest Newsletters</h3>
            <a routerLink="/newsletters" class="view-all-link">View All →</a>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="newsletter-card">
                    <div class="newsletter-content">
                        <p class="newsletter-period">JAN - JUN 2025</p>
                        <h5 class="newsletter-name">Newsletter Vol. 12</h5>
                        <a routerLink="/newsletters/jan-2025" class="newsletter-link">Read More →</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter-card">
                    <div class="newsletter-content">
                        <p class="newsletter-period">OCT - DEC 2024</p>
                        <h5 class="newsletter-name">Newsletter Vol. 11</h5>
                        <a href="#" class="newsletter-link">Read More →</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter-card">
                    <div class="newsletter-content">
                        <p class="newsletter-period">MAY - AUG 2024</p>
                        <h5 class="newsletter-name">Newsletter Vol. 10</h5>
                        <a href="#" class="newsletter-link">Read More →</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter-card">
                    <div class="newsletter-content">
                        <p class="newsletter-period">JAN - APR 2024</p>
                        <h5 class="newsletter-name">Newsletter Vol. 9</h5>
                        <a href="#" class="newsletter-link">Read More →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>